<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%HerokuUI.heroku"
            class="com.heroku.eclipse.ui.preferences.HerokuPreferencePage"
            id="com.heroku.eclipse.ui.preferences.HerokuPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%HerokuUI.heroku"
            id="com.heroku.eclipse.ui">
      </category>
      <view
            name="%HerokuUI.viewName"
            icon="icons/16_16/heroku_logo.png"
            category="com.heroku.eclipse.ui"
            class="com.heroku.eclipse.ui.views.HerokuApplicationManagerViewPart"
            id="com.heroku.eclipse.ui.views.HerokuApplicationManager">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.heroku.eclipse.ui.heroku"
            name="%HerokuUI.heroku">
      </category>
      <wizard
            category="com.heroku.eclipse.ui.heroku"
            class="com.heroku.eclipse.ui.wizards.HerokuAppImport"
            icon="icons/16_16/ImportExistingApp.png"
            id="com.heroku.eclipse.ui.herokuappwizard"
            name="%HerokuUI.ImportWizardName">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.heroku.eclipse.ui.heroku"
            name="%HerokuUI.heroku">
      </category>
      <wizard
            category="com.heroku.eclipse.ui.heroku"
            class="com.heroku.eclipse.ui.wizards.HerokuAppCreate"
            icon="icons/16_16/heroku_logo.png"
            id="com.heroku.eclipse.ui.herokunewappwizard"
            name="%HerokuUI.CreateWizardName"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.heroku.eclipse.ui.views.ApplicationInfoEditor"
            default="true"
            icon="icons/16_16/ApplicationInfoEditor.png"
            id="com.heroku.eclipse.ui.appinfoeditor"
            name="%HerokuUI.AppEditorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="herokuToc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
