<?xml version="1.0" encoding="UTF-8"?>
<site>
  <feature url="features/com.heroku.eclipse.feature_@com.heroku.eclipse.version@.jar" id="com.heroku.eclipse.feature" version="@com.heroku.eclipse.version@">
      <category name="heroku"/>
   </feature>
   <category-def name="heroku" label="Heroku Eclipse Integration"/>
</site>
