<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="heroku" sequenceNumber="121">
<locations>
<location path="${heroku_target}/platform-37" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="2.0.0.201206130900-r"/>
<unit id="org.eclipse.egit.psf.feature.group" version="2.0.0.201206130900-r"/>
<unit id="org.eclipse.jgit.feature.group" version="2.0.0.201206130900-r"/>
<repository location="http://download.eclipse.org/egit/updates"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.1.0.20120530-0009"/>
<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.1.0.20120530-0009"/>
<repository location="http://download.eclipse.org/technology/m2e/releases"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
<location path="${heroku_target}/delta-pack-37" type="Directory"/>
<location path="${heroku_target}/jdt-37" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="ch.qos.logback.classic" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.classic.source" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.core" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.core.source" version="1.0.0.v20111214-2030"/>
<unit id="ch.qos.logback.slf4j" version="1.0.0.v20120123-1500"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.0.v20120123-1500"/>
<unit id="org.slf4j.api" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.ext" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.ext.source" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.api.source" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.jul" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.jul.source" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.jcl" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.jcl.source" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.log4j" version="1.6.4.v20120130-2120"/>
<unit id="org.slf4j.log4j.source" version="1.6.4.v20120130-2120"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
</locations>
</target>
